# all the python packages 
requests
pytest
PyYAML
setuptools~=65.5.1
pip~=23.2.1
wheel~=0.38.4
packaging~=23.1
pybuilder
urllib3~=2.0.4
certifi~=2023.7.22
pluggy~=1.2.0
idna~=3.4
Flask
jwt~=1.3.1
PyJWT~=2.8.0
jsonschema
SQLAlchemy
azure